$primary  : #141414;
$secondary: rgb(8,114,245);
$white    : #fff;
$black    : #000;

$screen-small-phone: 530px;
$screen-large-phone: 750px;
$screen-tablet     : 920px;
$screen-laptop     : 1200px;

// css variables
:root {
     --primary  : #141414;
     --secondary: #0872F5;
     --white    : #fff;
     --black    : #000;

     --screen-small-phone: 530px;
     --screen-large-phone: 750px;
     --screen-tablet     : 920px;
     --screen-laptop     : 1200px;
}